In [89]:
import pymysql
import KAsql2 as ka
import pandas as pd
import numpy as np

In [106]:
def get_stars():
    sql = 'SELECT id, business_id, stars FROM ortho.review;' 
    rows = ka.query_SQL(sql)# extracts unique yelp_ids
    df = pd.DataFrame(np.array(rows),columns=['RID','BID','rstars'])
    return df

In [92]:
star_df = get_stars()#queries MySQL for data
print star_df.head(5)#debug

USE ortho;
     RID  BID  rstars
0  20406  303       5
1  20407  303       5
2  20408  303       5
3  20409  303       5
4  20410  303       5

In [139]:
#Debugging syntax here to input directly into views.py
some_doc = 328

#get review stars for that doctor in a sorted list
doc_stars= star_df.rstars[star_df.BID==some_doc]#series
doc_stars.sort('rstars',ascending=False)
star_list = doc_stars.tolist()
#print star_list#debug

#make dict of counts for each star-type
star_count = {}
star_count[i] =[star_list.count(i) for i in range(5,0,-1)]
bid_stars = star_count.values()[0]
print 'VALUES: ',bid_stars#list

# This causes result to appear in backwards order - 1star, then 2 star etc... don't know why
# for i in range(5,0,-1):
#     #print i, count#debug
#     star_count[i]=star_list.count(i)
# print 'VALUES: ',star_count.values()#list

VALUES:  [20, 3, 0, 2, 8]

In [138]:
# Was initially thinking to compare each doctor's star scores to that of the average doctor, but didn't finish normilizing them
# overall average star distribution for doctors over reviews
grp_stars = star_df.groupby('BID', axis=0).mean()
avg_series = grp_stars.rstars
avg_stars = avg_series.sort(ascending=False, inplace=False)# To sort a series (which is a view of another array) must use inplace=False to make a copy
avg_list = avg_stars.tolist()
avg_list = [int(avg) for avg in avg_list]
#print avg_list

avg_count = {}
avg_count[i] =[avg_list.count(i) for i in range(5,0,-1)]
print 'VALUES: ',avg_count.values()[0]#list

tot = np.sum(star_count.values()[0])
print tot

VALUES:  [65, 108, 79, 23, 12]
33