In [86]:
import cPickle as pickle
#import pyodbc
# import pandas.io.sql as psql
# import pandas as pd
import sys
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

import pymysql

In [87]:
def df_to_SQL(df):
    # didn't get this to work
    db='ortho'
    host='localhost'
    port=3307
    user='root'
    passwd='';

    path = 'mysql+mysqlconnector://'+user+':'+passwd+'@'+host+':'+str(port) 
    print path
    engine = create_engine(path, echo=False)
    df.to_sql(name='review', con=engine, if_exists = 'append', index=False)

In [88]:
# debugging only
# ortho.review table contains in order: rid, bid, term, city, star, comment (note yelp_id is only in business table)

bid = 6
tid = 1
cid = 1
rstar = 5.0
review = 'Mr. Chao was great.'

# rid - autopopulates
part1 = "'"+str(bid)+"'," + "'"+str(tid)+"'," +"'"+str(cid)+"',"
part2 = "'"+str(rstar)+"'," + '"'+review+'"'
myvalues = part1+part2

#print myvalues
sql = 'INSERT INTO review(business_id,term_id,city_id,stars,comment) VALUES('+myvalues+')'
print(sql)

INSERT INTO review(business_id,term_id,city_id,stars,comment) VALUES('6','1','1','5.0',"Mr. Chao was great.")

In [89]:
def insert_reviews_SQL(bid, tid, cid, rstar, review):
    # ortho.review table contains in order: rid, bid, term, city, star, comment (note yelp_id is only in business table)
    con = False
    try:
        con = pymysql.connect(host='localhost', port=3307, user='root', passwd='', db='yelpdata')
        with con:
            cur = con.cursor()
            #myvalues = "'" + str(bid)+"'," + str(rstar) + "," + '"'+review+'"'
            part1 = "'"+str(bid)+"'," + "'"+str(tid)+"'," +"'"+str(cid)+"',"
            part2 = "'"+str(rstar)+"'," + '"'+review+'"'
            myvalues = part1+part2         
            #sql = 'INSERT INTO review(business_id,stars,comment) VALUES('+myvalues+')'
            sql = 'INSERT INTO review(business_id,term_id,city_id,stars,comment) VALUES('+myvalues+')'
            print(sql)
            cur.execute(sql)
    except pymysql.Error, e:
        print "Error %d: %s" % (e.args[0],e.args[1])
        sys.exit(1)
    finally:
        if con:
            con.close()

In [90]:
def main():
    
    # Load the pickled DF of all reviews, which I want to load into MySQL
    picklename = 'ortho_review_df.p'
    ortho_review_df = pickle.load(open(picklename,'rb'))
    #print ortho_review_df.head(5)
    
    # review table contains in order: rid, bid, term, city, star, comment (note yelp_id is only in business table)
    for row in ortho_review_df.iterrows():
        myvalues = row[1].values
        print(myvalues)
    
    bid = myvalues[0]
    tid = myvalues[1]
    cid = myvalues[2]
    rstar = 5.0
    review = 'Mr. Chao was great.'
    
    #insert_reviews_SQL(bid, tid, cid, rstar, review)
    
#     df_to_SQL(ortho_review_df)#not working yet

if __name__=="__main__":
    main()

INSERT INTO review(business_id,term_id,city_id,stars,comment) VALUES('302','1','1','5.0',"Mr. Chao was great.")
Error 1054: Unknown column 'term_id' in 'field list'

SystemExit: 1

To exit: use 'exit', 'quit', or Ctrl-D.

In [ ]:
# Not using, but wanted it for reference
def df_from_SQL():

    cnxn = pyodbc.connect(connection_info) 
    cursor = cnxn.cursor()
    sql = "SELECT * FROM TABLE"

    df = psql.frame_query(sql, cnxn)
    cnxn.close()
    return df