In [11]:
import cPickle as pickle
import sys
import pandas as pd
import pymysql

# these are needed for functions that don't work yet below
import mysql.connector
from sqlalchemy import create_engine

#import pyodbc
# import pandas.io.sql as psql
# import pandas as pd

"""This function loads the ortho_review_df.p DataFrame object and inserts it into the ortho.review mysql table"""

'This function loads the ortho_review_df.p DataFrame object and inserts it into the ortho.review mysql table'

In [12]:
# Not using, but saw code online and wanted it for reference
def df_from_SQL():

    cnxn = pyodbc.connect(connection_info) 
    cursor = cnxn.cursor()
    sql = "SELECT * FROM TABLE"

    df = psql.frame_query(sql, cnxn)
    cnxn.close()
    return df

In [13]:
# didn't get this to work. it thinks there is no 'review'
def df_to_SQL(df):
    
    db='ortho'
    host='localhost'
    port=3307
    user='root'
    passwd='';

    path = 'mysql+mysqlconnector://'+user+':'+passwd+'@'+host+':'+str(port) 
    print path
    engine = create_engine(path, echo=False)
    df.to_sql(name='review', con=engine, if_exists = 'append', index=False)

In [14]:
def insert_reviews_SQL(bid, tid, cid, rstar, review):
    # ortho.review table contains in order: rid, bid, term, city, star, comment (note yelp_id is only in business table)
    con = False
    try:
        con = pymysql.connect(host='localhost', port=3307, user='root', passwd='', db='ortho')
        with con:
            cur = con.cursor()
            #myvalues = "'" + str(bid)+"'," + str(rstar) + "," + '"'+review+'"'
            part1 = "'"+str(bid)+"'," + "'"+str(tid)+"'," +"'"+str(cid)+"',"
            part2 = "'"+str(rstar)+"'," + '"'+review+'"'
            myvalues = part1+part2         
            #sql = 'INSERT INTO review(business_id,stars,comment) VALUES('+myvalues+')'
            sql = 'INSERT INTO review(business_id,term_id,city_id,stars,comment) VALUES('+myvalues+')'
            cur.execute(sql)
    except pymysql.Error, e:
        print "Error %d: %s" % (e.args[0],e.args[1])
        sys.exit(1)
    finally:
        if con:
            con.close()

In [10]:
def main():
    
    # Load the pickled DF of all reviews, which I want to load into MySQL
    picklename = 'ortho_review_df.p'
    ortho_review_df = pickle.load(open(picklename,'rb'))
    print(ortho_review_df.shape)
    print ortho_review_df.head(5)
    
    
    #review table contains in order: rid, bid, term, city, star, comment (note yelp_id is only in business table)
    for row in ortho_review_df.iterrows():
        myvalues = row[1].values
        bid = myvalues[0]
        tid = myvalues[1]
        cid = myvalues[2]
        rstar = myvalues[3]
        review = myvalues[4]

        #insert_reviews_SQL(6, 1, 1, rstar, review)#debugging
        insert_reviews_SQL(bid, tid, cid, rstar, review)#actual
    
#     df_to_SQL(ortho_review_df)#not working yet

if __name__=="__main__":
    main()

(7320, 5)
   bid  term_id  city_id stars  \
0    3        1        1     5
1    3        1        1     5
2    3        1        1     5
3    3        1        1     5
4    3        1        1     5

                                             comment
0  Some background: I rolled my ankle and had a r...
1  Dr. Chen performed an ACL and meniscus repair ...
2  Excellent. Dr. Chen and everyone at his office...
3  In September of 2014, I suffered a complete ru...
4  Was referred to Dr. Chen by my trainer, extrem...